/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background: #FFDDD8;
    margin: 20px;
  }
  
  ul{
  list-style:none;
  padding: 0;
  display: flex;
  }
  
  li {
  background: #FFE6B0;
  display: inline;
  padding: 2em;
  text-decoration: none;
  }
  
  li a:hover{
  background: lightgray;
  }
  
  a { text-decoration: none; }
  
 #description {
    font-size: 1.3em;
    padding: 20px;
    text-align: center;
  }
  
  #map { 
  height: 300px;
  width: 100%;
  min-height: 300px;
  }
  
  @media (max-width: 600px) {
  ul {
      flex-direction: row;
  }
  }
  
  h2 {
  background-color: #D2E0EE; 
  padding: 10px;
  font-family: "Lato", Helvetica, sans-serif;
  color: rgb(48, 48, 48);
  }

  h1 {
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    color: rgb(48, 48, 48);
    font-weight: 800;
    }

p{
    font-family: "PT Sans", Helvetica, sans-serif;
    line-height: 9pt;
}

img {
    width: 200px;
    height: 70px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}